/* Кнопки стиля */
body{
    font-family:Century Gothic;
}
.btn {
    background-color: #A0CDE8; /* Синий фон */
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
.btn:hover{
    background-color: #79b5b8;
}
.btnDel {
    background-color: #e69889;
}
.btnDel:hover {
    background-color: #c47f72;
}
.btnAdd {
    background-color: #b8e6a2;
    min-width: 300px;
    min-height: 60px;
}
.btnAdd:hover {
    background-color: #98c287;
}
.btnClose {
    padding: 12px 16px;
    background-color: rgba(186, 186, 186, 0.98);
}
.btnClose:hover {
    background-color: rgba(127, 127, 127, 0.98);
}
.btnXmark
{
    background-color: transparent; /* Синий фон */
    border: none;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

.addButtonArea
{
    margin-left: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    margin-bottom: -50px;
    margin-right: 12px;
}
.gridContent
{
    display: block;overflow-y: scroll;
    margin-top: 2px;
    height: calc(100vh - 250px);
}
.editorLabel
{
    font-family:Century Gothic;
    font-size: 20px;
}
