@import url('https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap');

*{
    --switch-bg-color: #fff;
    --switch-option-1-color: #b8e6a2;
    --switch-option-2-color: #e69889;
}
.letter_editor
{
    background: #dadada;
    border-radius: 5px;
    padding: 20px 15px;
    box-shadow: 0 0 15px 6px rgba(0,0,0,0.2);
    margin-bottom: 50px;
}

.letter_answer
{
    border-radius: 5px;
    padding: 20px 15px;
    box-shadow: 0 0 15px 6px #b8e6a2;
    margin-bottom: 50px;
}

.wrapper{
    display: inline-flex;
    background: var(--switch-bg-color);
    height: 70px;
    width: 400px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 20px 15px;
}
.wrapper .option{
    background: var(--switch-bg-color);
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
}
.wrapper .option .dot{
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
}
.wrapper .option-1 .dot::before{
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: var(--switch-option-1-color);
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
}

.wrapper .option-2 .dot::before{
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: var(--switch-option-2-color);
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
}


input[type="radio"]{
    display: none;
}
#option-1:checked:checked ~ .option-1{
    border-color: var(--switch-option-1-color);
    background: var(--switch-option-1-color);
}

#option-2:checked:checked ~ .option-2{
    border-color: var(--switch-option-2-color);
    background: var(--switch-option-2-color);
}

#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot{
    background: var(--switch-bg-color);
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before{
    opacity: 1;
    transform: scale(1);
}
.wrapper .option span{
    font-size: 20px;
    color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span{
    color: var(--switch-bg-color);
}